name: renovation-crm

services:
  app:
    build: .
    restart: always
    env_file: .env
    # We remove explicit 'networks' so it uses the 'default' defined below

  frontend:
    build:
      context: ./frontend
    restart: always
    depends_on:
      - app

networks:
  default:
    external: true
    name: easypanel
